@model List<TablePerson>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/layoutv3.cshtml";
}

<div style="margin:25px !important;margin-left:25px !important;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>İsim</th>
                <th>Soy İsim</th>
                <th>Numara</th>
                <th>Mail</th>
                <th>Kişiyi Sil</th>
                <th>Kişiyi Düzenle</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.PersonSurname</td>
                    <td>@person.PersonPhone</td>
                    <td>@person.PersonMail</td>
                    <td>
                        <a asp-controller="Main"
                       asp-action="DeletePerson"
                       asp-route-id=@person.PersonId class="btn btn-danger">Sil</a>
                    </td>
                    <td>
                        <a asp-controller="Main"
                       asp-action="EditPerson"
                       asp-route-id=@person.PersonId class="btn btn-warning">Düzenle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("AddPerson","Main")" class="btn btn-danger">Kişi Ekle</a>
</div>
